*{
  /* remove all basic style */
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 8vh;
  background-color: #1b2746;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Poppins', sans-serif;
}

.logo{
  color: #fafafa;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-size: 20px;
}

.nav-links{
  /* align-items horizontally and add space around */
  display: flex;
  justify-content: space-around;
  width: 30%;
}

.nav-links li{
  list-style: none;
}

.nav-links a{
  color: #fafafa;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: bold;
  font-size: 14px;
}

.burger{
  display: none;
}

.burger div{
  width: 25px;
  height: 2px;
  background-color: #fafafa;
  margin: 5px;
}